<div class="panel panel-info">

    <div class="panel-heading">
        <h2 class="panel-title">{{ 'control_list_title' | translate }}</h2>
    </div>

    <div class="panel-body">

        <div class="container-fluid" ng-switch="controls.page.totalElements">

            <div class="row">
                <div class="btn-toolbar pull-right" role="toolbar">
                    <a class="btn btn-default" href="#/nieuwControle">
                        <span class="glyphicon glyphicon-plus"></span>
                        {{ 'control_list_registreer_controle' | translate }}
                    </a>
                </div>
            </div>


            <div class="row" ng-switch-when="0">
                <span class="label label-info">{{ 'control_list_table_empty' | translate }}</span>
            </div>

            <div class="row" ng-switch-default>
                <div class="gridStyle" ng-grid="gridOptions"></div>
            </div>

        </div>

    </div>
</div>