<div class="col-md-12">

    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <h2>{{ 'home_title' | translate }}</h2>

                    <p>{{ 'home_subtitle' | translate }}</p>
                </div>

            </div>
        </div>

    </div>

    <button class="btn btn-default" ng-click="addNotification()">Test Notification</button>

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'home_taken' | translate }}</h2>
                </div>
                <div class="panel-body">

                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-info">

                <div class="panel-heading">
                    <h2 class="panel-title">{{ 'home_controles' | translate }}</h2>
                </div>
                <div class="panel-body">

                </div>

            </div>
        </div>

    </div>

</div>